.todo-list {
  list-style: none;
}

.list-title-container {
  margin-top: 2rem;
  margin-left: 1rem;
}

.hr-line {
  margin-left: 0;
  text-align: left;
}

.check-icon-completed {
  margin-top: 1.3rem;
  margin-right: 2rem;
  color: red;
}

.check-icon-not-completed {
  margin-top: 1.3rem;
  margin-right: 2rem;
  color: green;
}

.check-icon-completed:hover,
.check-icon-not-completed:hover {
  cursor: pointer;
}

.edit-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding-right: 10rem;
}

.todo-container {
  display: flex;
  align-content: flex-end;
}
